{% extends "base.html" %}

{% block content %}

<h3>Contact Info:</h3>
<p class="space-below-small">
    Andrew Clark<br>
    University of Stuttgart<br>
    Institute of Cell Biology and Immunology<br>
    Allmandring 5b<br>
    70569 Stuttgart<br>
    GERMANY<br>
</p>
<p class="space-below-small">
    <a href="mailto:andrew.clark@srcsb.uni-stuttgart.de">andrew.clark@srcsb.uni-stuttgart.de</a>
</p>
<p class="space-below-small">
    <a href="https://twitter.com/_andrewgclark"><img src={{url_for('static', filename='content/media/twitter_logo.png')}} alt="tw_logo"  width="50"/></a>
    &nbsp
    <a href="https://www.linkedin.com/in/andrew-clark-05201422"><img src={{url_for('static', filename='content/media/linkedin_logo.png')}} alt="li_logo"  width="50"/></a>
    &nbsp
    <a href="https://www.researchgate.net/profile/Andrew_Clark31"><img src={{url_for('static', filename='content/media/researchgate_logo.png')}} alt="rg_logo"  width="50"/></a>
    &nbsp
    <a href="http://scholar.google.de/citations?user=FlsZVCsAAAAJ&hl=en&oi=sra"><img src={{url_for('static', filename='content/media/googlescholar_logo.png')}} alt="gs_logo"  width="50"/></a>
</p>

{% endblock content %}