{% extends "base.html" %}

{% block content %}

<h5>Current Lab / Department</h5>
<p>
    <ul>
        <li><a href="https://science.institut-curie.org/research/multiscale-physics-biology-chemistry/umr144-subcellular-structure-and-cellular-dynamics/team-vignjevic/">Vignjevic Lab</a> -
            <a href="https://institut-curie.org/">Institut Curie</a>
        </li>
    </ul>
</p>

<h5>Former Labs / Departments</h5>
<p>
    <ul>
        <li><a href="https://www.ucl.ac.uk/lmcb/users/ewa-paluch">Paluch Lab</a> -
            <a href="http://www.ucl.ac.uk/lmcb/">MRC-LMCB, UCL</a>,
            <a href="http://www.mpi-cbg.de/">MPI-CBG</a>
        </li>
        <li><a href="http://bement.molbio.wisc.edu/">Bement Lab</a> -
            <a href="http://zoology.wisc.edu/">UW-Madison Dept. of Zoology</a>
        </li>
    </ul>
</p>

<h5>Friends, Colleagues and Collaborators</h5>
<p>
    <ul>
        <!--<li><a href="http://www.pks.mpg.de/~salbreux/Physics_of_the_cytoskeleton/Home.html">Guillaume Salbreux group</a></li>-->
        <li><a href="https://www.crick.ac.uk/research/a-z-researchers/researchers-p-s/guillaume-salbreux/">Guillaume Salbreux lab</a></li>
        <li><a href="https://sites.google.com/site/mechamaitre/">Jean-L&eacuteon Ma&icirctre lab</a></li>
        <li><a href="http://www.matebiro.com/">Mat&eacute Biro</a></li>
        <li><a href="http://www.embl.de/research/units/cbb/diz-munoz/">Alba Diz-Mu&ntildeoz lab</a></li>
        <li><a href="http://mslipidomics.info/contents/">Christer Ejsing lab</a></li>
        <li><a href="https://martinbergert.wordpress.com/">Martin Bergert</a></li>
        <li><a href="https://sundarnaganathan.com/">Sundar Naganathan</a></li>
        <li><a href="http://bois.caltech.edu/index.html">Justin Bois</a></li>
        <li><a href="https://sites.lsa.umich.edu/miller-lab/">Ann Miller lab</a></li>
        <li><a href="http://www.gvondassow.com/Research_Site/Home.html">George von Dassow</a></li>
        <li><a href="https://orangepalantir.org/">melkor</a></li>

    </ul>
</p>

{% endblock content %}