{% extends "base.html" %}

{% block content %}

<h4>Selected Publications (most recent first)</h4>

<p>
    For a complete list of publications, please see my <a href="{{ url_for('cv') }}">CV</a>.
</p>

<p>
    <a href="https://doi.org/10.1038/s41563-022-01259-5" class="paper-link">
        Clark, A.G., Maitra, A., Jacques, C., Bergert, M., Pérez-González, C., Simon, A., Lederer, L., Diz-Muñoz, A., Trepat, X., Voituriez, R. and Vignjevic D.M. (2022) Self-generated gradients steer collective migration on viscoelastic collagen networks. Nature Materials.
    </a>
</p>
<p>
    <a href="https://doi.org/10.1038/s41467-021-26611-2" class="paper-link">
        Truong Quang, B.A., Peters, R., Cassani, D.A.D., Chugh, P., Clark, A.G., Agnew, M., Charras, G. and Paluch, E.K. (2021) Steric hindrance regulates myosin penetration into the actin cortex and controls cell surface mechanics. Nature Communications. 12: 6511.
    </a>
</p>
<p>
    <a href="https://doi.org/10.1038/s41556-021-00699-6" class="paper-link">
        Pérez-González, C., Ceada, G., Greco, F., Matejčić, M., Gómez-González, M., Castro, N., Menendez, A., Kale, S., Krndija, D., Clark, A.G., Gannavarapu, V.R., Álvarez-Varela, A., Roca-Cusachs, P., Batlle, E., Vignjevic, D.M., Arroyo, M. and Trepat, X. (2021) Mechanical compartmentalization of the intestinal organoid enables crypt folding and collective cell migration. Nature Cell Biology 23: 745-757.
    </a>
</p>
<p>
    <a href="https://doi.org/10.1242/jcs.220277" class="paper-link">
        Staneva, R., El Marjou, F., Barbazan, J., Krndija, D., Richon, S., Clark, A.G.*, and Vignjevic, D.M.* (2019) Cancer Cells in the Tumor Core Exhibit Spatially Coordinated Migration Patterns. J Cell Sci, 132(6):jcs220277.
    </a>
</p>
<p>
<a href="https://doi.org/10.1016/bs.mcb.2018.06.007" class="paper-link">
    Clark, A.G., Simon, A., Aizel, K., Bibette, J., Bremond, N., and Vignjevic, D.M. (2018) 3D Cell Migration in the Presence of Chemical Gradients using Microfluidics. In: Piel M., Fletcher, D. and J. Doh (1.ed) <u>Methods in Cell Biology - Microfluidics in Cell Biology Part B: Microfluidics in Single Cells</u>. Elsevier/Academic Press, Cambridge, MA, USA.
</a>
</p>
<p>
    <a href="https://dx.doi.org/10.1038/ncb3525" class="paper-link">
        Chugh, P.*, Clark, A.G.*, Smith, M.B.*, Cassani, D.A.D., Ragab, A., Roux, P.P., Charras, G., Salbreux, G. and Paluch, E.K. (2017) Actin Cortex Architecture Regulates Cell Surface Tension. Nat Cell Biol, 19(6):689-697.
    </a>
</p>
<p>
    <a href="https://doi.org/10.1083/jcb.201702033" class="paper-link">
        Attieh, Y., Clark, A.G., Grass, C., Richon, S., Elkhatib, N., Betz, T., Gurchenkov, B. and Vignjevic, D.M. (2017) Cancer-associated Fibroblasts Lead Tumor Invasion through Integrin &Beta;3 Dependent Fibronectin Assembly. J Cell Biol, 216(11):3509-3520.
    </a>
</p>
<p>
    <a href="https://dx.doi.org/10.1039/C7LC00649G" class="paper-link">
        Aizel, K.*, Clark, A.G.*, Simon, A., Geraldo, S., Funfak, A., Vargas, P., Bibette, J., Vignjevic, D.M. and Bremond, N. (2017) A Tuneable Microfluidic System for Long Duration Chemotaxis Experiments in a 3D Collagen Matrix. Lab Chip, 17(22):3851-3861.
    </a>
</p>
<p>
    <a href="https://doi.org/10.1016/j.ceb.2015.06.004" class="paper-link">
        Clark, A.G., and D.M. Vignjevic (2015) Modes of Cancer Cell Invasion and the Role of the Microenvironment. Current Opinion in Cell Biology. 36:13-22.
    </a>
</p>
<p>
    <a href="https://doi.org/10.1016/j.cub.2014.03.059" class="paper-link">
        Clark, A.G., Wartlick O., Salbreux G. and E.K. Paluch (2014) Stresses at the Cell Surface during Animal Cell Morphogenesis. Current Biology. 24(10):R484-R494.
    </a>
</p>
<p>
    <a href="https://doi.org/10.1016/j.bpj.2013.05.057" class="paper-link">
        Clark A.G., Dierkes K. and E.K. Paluch (2013) Monitoring Actin Cortex Thickness in Live Cells. Biophysical Journal. 105(3):570-580.
    </a>
</p>
<p>
    <a href="https://doi.org/10.1002/cm.21085" class="paper-link">
        Clark A.G., Sider J.R., Verbrugghe K., Fenteany G., von Dassow G. and W.M. Bement (2012) Identification of Small Molecule Inhibitors of Cytokinesis and Single Cell Wound Repair. Cytoskeleton. 69(11):1010-1020.
    </a>
</p>
<p>
    <a href="https://doi.org/10.1007/978-3-642-19065-0_3" class="paper-link">
        Clark A.G. and E. Paluch (2011) Mechanics of Cell Shape Regulation During the Cell Cycle. In: Kubiak JZ (1.ed) Cell Cycle in Development. Springer, Berlin.
    </a>
</p>
<p>
    <a href="https://doi.org/10.1016/j.cub.2009.06.044" class="paper-link">
        Clark, A.G., Miller, A.L., Vaughan, E., Yu, H.-Y.E., Penkert, R., and W.M. Bement (2009) Integration of Single and Multicellular Wound Responses. Current Biology. 19:1389-1395.
    </a>
</p>
<p>
    <a href="https://doi.org/10.1016/j.ceb.2006.12.001" class="paper-link">
    Bement, W.M., Yu, H.-Y.E., Burkel, B.M., Vaughan, E.M., and A.G. Clark (2007) Rehabilitation and the Single Cell. Current Opinion in Cell Biology. 19:95-100.
    </a>
</p>
<p>
    For reprint requests, please contact me at:
    <a href="mailto:andrew.clark@curie.fr?Subject=Reprint%20Request" target="_top">
    andrew.clark@curie.fr</a>,
    or visit my <a href="https://www.researchgate.net/profile/Andrew_Clark31">Research Gate</a> page.
</p>

{% endblock content %}